<h2>List of popular spots near the searched area:</h2>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Sl. No</th>
      <th>Location Name</th>
      <th>Status Now</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Web link</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let eachItem of response; let j = index">
      <td>{{ j+1 }}</td>
      <td>{{ eachItem.venue.name }}</td>
      <td>{{ eachItem.venue.hours?.status }}</td>
      <td>{{ eachItem.venue.location.city }}</td>
      <td>{{ eachItem.venue.location.postalCode }}</td>
      <td>{{ eachItem.venue.url }}</td>
      <td>{{ eachItem.venue.rating }}</td>
    </tr>
  </tbody>
</table>
